@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	p,
	div,
	h4,
	h5,
	h6 {
		@apply font-nunito text-xl;
	}
	h1,
	h2,
	h3 {
		@apply font-ranille;
	}
  h2 {
    @apply text-4xl lowercase
  }
  h3 {
    @apply text-2xl lowercase
  }
  h4 {
    @apply text-2xl
  }

	ul {
		@apply list-disc list-inside;
	}
}

@font-face {
	font-family: 'Ranille Normal';
	src: url('/fonts/RanilleNormal-Regular.woff2') format('woff2'),
		url('/fonts/RanilleNormal-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nighty DEMO';
	src: url('/fonts/NightyDEMO.woff2') format('woff2'), url('/fonts/NightyDEMO.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('/fonts/Nunito-ExtraLight.woff2') format('woff2'),
		url('/fonts/Nunito-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
